<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth</title>
</head>
<body>
    <% if (!isAuthenticated) { %> 
        <a href="/login">Log in here</a>
        <a href="/register">Register here</a>
    <% } else { %>
        Hello, Registered User!
        Fetching Bitcoin and Ethereum rate. To view current rate, <a href="/ticker">click here</a>.
        Or to see rates 5 minutes ago <a href="/ticker5min">click here</a>.
        Advisor page(register user only) <a href="/advisor">here</a>.
        <a href="/logout">Log out here</a>

        <% } %> 
</body>
</html>