<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auth</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <style>
        body { 
            padding-top:80px; 
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
        }
    </style>
</head>
<body>
        <% if (!isAuthenticated) { %>
        <div class="container">
                <div class="jumbotron text-center">
                    <h1><span class="fa fa-lock"></span> Authentication</h1>
                    <p>Login or Register with:</p>    
                    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
                    <a href="/register" class="btn btn-default"><span class="fa fa-user"></span>Register</a>
                </div>
            <% } else { %>
                    <%- messages('messages', locals) %>
                <h3>Hello, <%= (user.username) || 'Registered User' %>!</h3>
                <p><span class="fas fa-spinner fa-lg fa-pulse"></span>  Fetching rates</p>
                <a href="/ticker" class="btn btn-default"><span class="fab fa-bitcoin fa-lg"></span> Current Rate</a>
                <a href="/ticker5min" class="btn btn-default"><span class="far fa-clock fa-lg"></span> 5min Rate</a>
                <a href="/advisor" class="btn btn-default"><span class="fa fa-lock fa-lg"></span> Advisor</a>
                <hr>
                <p><a href="/logout"><span class="fas fa-sign-out-alt fa-lg"></span> Logout</a></p>
            <% } %>
        </div>


</body>
</html>